/* les dimensions du body*/
body{

    background: white;
    padding: 60px 60px;
}
/* le conteneur de grilles */
 .grid-container{
     display: grid;
     width: 980px;
     margin-left: 90px;
     grid-template-columns: auto auto;
     margin-bottom: 30px;

 }


.grid-item1,.grid-item2,.grid-item3,.grid-item4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    height: 300px;
}
.grid-item1{
    background-color: #1E90FF;
    text-align: center;
}
.grid-item4{
    background-color: blue;
    text-align: center;
}
.grid-item2{
    background-color: aqua;
}
.grid-item3{
    background-image: url("/images/image1.png");
}
#div-footer {
    width: 90% ;
    align-content: center;
    margin: auto;
}
#div1-footer{
    width: 980px;
    height: 150px;

    background-color: #C0C0C0;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#buttn-footer{
    background-color: #1E90FF;
    width: 180px;
    height: 40px;
    font: 20px bold;

    color: white;
    border: 1px solid #1E90FF;
}
#buttn-footer a{
    text-decoration: none;
    color: white;
}
#div2-footer{
    background-color: white;
    align-items: center;
    margin: 20px 20px;
}
#div2-footer a{

}