/* le menu de navigation */
*{
    box-sizing: border-box;
}
body{

    background: white;
    /*padding-left: 10px;
    padding-right: 10px; */
}
nav{
    width: 100%;
    background-color: rgb(0,94,94);
    margin-bottom: 10px;

}
#image{
    float: right;
    margin-right: 280px;
    border: 1px solid black;
    height: 600px;
    margin-bottom: 160px;
}
#article{
    padding-bottom: 250px;
}
#my-section{
    float: left;
    width: 400px;
    height: 500px;
    margin-left: 260px;
    margin-top: 100px;
    padding-left: 20px;
    padding-top: 100px;
    border: 1px solid black;
    color: white;
}
#button-search{

    width: 300px;
    border: 1px solid #1E90FF;
    margin-left: 150px;
    /*margin-right: 100px;*/
}
li #connection{
 border: 1px solid white;
    background-color: #1E90FF;
    width: 150px;
    height: 40px;

    margin-bottom: 50px;




}
#mydiv1{
    width: 100%;
    height: 800px;
    background-color: #1E90FF;


}

li.items {

    width: 12.66%;
    height: 80px;
    text-align: center;
    /*padding-top: 30px; */

    background-color: #1E90FF;
    float: left;
    list-style: none;
    color: white;


}
li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
nav >ul .items:hover{
    background-color: RGB(0,55,174);


}
#champ{
    /*background-color: DodgerBlue; */
    margin-left: 270px;


}


#mydiv2{
    width: 100%;
    height: 230px;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 250px;
    padding-top: 50px;
}
#mydiv2 h1{
    text-align: center;
    padding-right: 100px;
}

/* les dimensions du body*/

/* le conteneur de grilles */
 .grid-container{
     display: grid;
     width: 100%;
     grid-template-columns: 50% 50%;
     margin-bottom: 10px;


 }


.grid-item1 {
    width: 100%;
    background-color: DodgerBlue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 100px;
    font-size: 30px;
    height: 460px;
    text-align: center;
}
.grid-item1 h1{
    text-align: center;
    color: white;
}
.grid-item1 p{
    font-size: 18px;
    color: white;

}
.grid-item2{
    background-color: #1E90FF;
    width: 100%;
    height: 460px;
}
.grid-item3{
    background-color: RGB(0,55,174);
    text-align: center;
    width: 100%;
    padding-top: 100px;
    height: 460px;
}
.grid-item4{
    background-color: #1E90FF;
    width: 100%;
    height: 460px;
    display: inline;
    padding-left: 40px;
    text-align: left;

}
.grid-item4 li{
    list-style: none;
    color: white;

}
.grid-item4 li >{
    text-decoration: underline;
    width: 300px;

}

#imagefond{
    width: 100%;
    height: 565px;
    align-content: center;

}
#div-footer {
    width: 100% ;
    align-content: center;
    margin: auto;
}
#div1-footer{
    width: 100%;
    height: 200px;

    background-color: lightgray;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 10px;
    border-style: outset;


}
#button-footer{
    background-color: #1E90FF;
    width: 200px;
    height: 40px;
    font: 20px bold;
    color: white;
    border: 1px solid #1E90FF;
}
#button-footer a{
    text-decoration: none;
    color: white;
}
#div2-footer{
    width: 100%;
    height: 180px;
    background-color: white;
    text-align: center;
    padding-top: 90px;
    border-style: outset;
    padding-bottom: 20px;


}
#div3-footer {
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 50px;

}
#contact{
    width: 100%;
    height: 830px;
    background-color: white;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}